:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.MuiButtonBase-root {
  font-family: "Poppins", sans-serif;
}

.main-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.songs-container {
  flex-grow: 1;
  margin: 0.5rem;
  overflow-y: auto;
}

.track-container {
  display: flex;
  margin: 0.5rem;
  align-items: center;
}